debug/
.DS_Store
*.log
set-env.sh

# Terraform
.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
.terraform.lock.hcl

# Troubleshooting
troubleshooting.md
troubleshooting_KO.md

# Agents Customizations
.agents/

